<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<div class="ui container" data-immersive-translate-walked="8858e8c0-bb06-40b8-ac26-1d8aa61b2a38">
    <p data-immersive-translate-walked="8858e8c0-bb06-40b8-ac26-1d8aa61b2a38">
        asdfasdf
    </p>

</div>


<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</body>
</html>